.contenedor_sitio_interes{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.contenedor_carusel{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2rem;
}

.img_carousel{
    width: 100%;
    min-height: 25rem;
    max-height: 35rem;
}

h2{
    text-align: center;
    margin-top: 0.5%;
}

.contenedor_info_sitio_interes{
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 2%;
}