/*estilos para sitio de interes*/
.contenedor_sitio_interes{
    display: flex;
    margin: 2%;
}

.img_carousel{
    width: 100%;
    max-height: 30rem;
}

.contenedor_carusel{
    width: 50%;
}

.contenedor_info_sitio_interes{
    width: 50%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.contenedor_imgs{
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.contenedor_carusel2{
    width: 100%;
}

li{
    list-style:none;
}