<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <h4>Barrio Acosta Soberón</h4>    
        </div> 

    
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button (click)="navegarHaciaInicio()" type="button" class="btn btn-outline-secondary  btn-lg">Inicio</button>
            <button (click)="navegarHaciaCatalogo()" type="button" class="btn btn-outline-secondary  btn-lg">Catálogo de negocios</button>
            <button (click)="navegarHaciaNosotros()" type="button" class="btn btn-outline-secondary  btn-lg">Sobre nosotros</button>
          </div>

        </div>
    </div>
   
  </header>
